<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<div class="d-block p-2">
  <h1 class="icon-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
    </svg><%= user.username %>
  </h1>
  <h3>スキ！した数：<%= words.length %></h3>
</div>

<div class="container mt-5">
  <% for(let word of words) { %>
      <div class="card border-secondary mb-5">
        <div class="row g-0">
          <div class="col-md-6 d-flex align-items-stretch">
            <img src="<%= word.passiveWord.image %>" class="img-fluid w-100" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body d-flex flex-column h-100">
              <h2 class="card-title fw-bold fst-italic text-center"><%= word.passiveWord.word %></h2>
              <h4 class="card-text fw-bold mt-5">タイトル：<%= word.passiveWord.title %></h4>
              <h4 class="card-text fw-bold mt-2">人物：<%= word.passiveWord.human %></h4>
              <h4 class="card-text fw-bold mt-2">巻数：<%= word.passiveWord.number %></h4>
              <% if(!likes.some(like => like.passiveWord.equals(word.passiveWord._id))) { %>
                <div class="mt-auto d-flex justify-content-between align-items-center">
                  <p id="star" class="mb-0">スキ⭐️<%= word.passiveWord.likes.length%></p>
                  <input type="checkbox" class="btn-check" id="<%= word.passiveWord._id %>" autocomplete="off">
                  <label id="likeButton" class="btn btn-outline-primary" for="<%= word.passiveWord._id %>" data-wordid="<%= word.passiveWord._id %>">スキ！</label>
                </div>
              <% } else { %>
                <div class="mt-auto d-flex justify-content-between align-items-center">
                  <p id="star" class="mb-0">スキ⭐️<%= word.passiveWord.likes.length%></p>
                  <input type="checkbox" class="btn-check" id="<%= word.passiveWord._id %>" checked autocomplete="off">
                  <label id="likeButton" class="btn btn-outline-primary" for="<%= word.passiveWord._id %>" data-wordid="<%= word.passiveWord._id %>">スキ済</label>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <%= `${word.passiveWord.date.getFullYear()}年 ${word.passiveWord.date.getMonth() + 1}月 ${word.passiveWord.date.getDate()}日` %>
        </div>
      </div>
  <% } %>
</div>

<script nonce="<%= cspNonce %>" src="/liketoggle.js"></script>

<%- include('../partials/footer') %>